* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    
}
.container {
    background-color: rgb(28, 129, 218);
    height: 100%;

}

.sub-container {
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 20px;
    width: 45%;
    /* border: 3px solid black; */
    box-shadow: 0px 0px 5px 5px #252323;
    float: left;
    margin: 2.5%;
}

.pack {
    margin: auto;
    width: 90%;
    height: 50%;
}

input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

.sex {
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 6px;
    resize: vertical;
}

input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #45a049;
}

form {
    box-sizing: border-box;
}

.form-submit {
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-align: center;
}

.title {
    width: 100%;
    padding: 10px;
    background-color: rgb(29 161 242 / 64%);
    border-radius: 4px;
    margin-bottom: 10px;
}

.heading {
    background-color: white;
    color: #69bef2;
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
}

.menu {
    display: block;
    width: 100%;
    background-color: #69bef2;
    height: 35px;
}


li {
    display: inline-block;
    line-height: 35px;
    padding: 0px 10px;
    
}

li > a {
    text-decoration: none;
    color: black;
}

li:hover {
    background-color: white;
}